
.preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    width: 100vw;
    height: 100vh;

    background-color: #171717;

    transition: all 0.5s ease-out;

   
}

#social{
    display: none;
}

.preloader .preload-text{
    color: $secondary-color;
    font-size: 33px;
    font-weight: 300;
    margin-top: 50px;

}

.preloader .blocks {
    position: relative;
    width: 70px;
    height: 70px;
    animation: rotate 5s ease-in-out infinite;
}

.preloader .blocks .block{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: $secondary-color;
    transition: all 0.25s linear;
}

.preloader .blocks .block:nth-child(1){
    top: 0px;
    left: 40px; 
}

.preloader .blocks .block:nth-child(2){
    top: 0px;
    left: 0px; 
}

.preloader .blocks .block:nth-child(3){
    top: 40px;
    left: 0px; 
}

@keyframes rotate{
    0%{ transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


